@charset "utf-8";
body{
    background-image: url(Nhi-2011-lớp7.jpg);
    background-attachment: scroll;
    background-size: 20%;
}

#div1{
    background-image: url(Nhi-2011-lớp7.jpg), url(./Nhi-Sexy.jpg) ;
    width: 960px;
    height: 720px;
    background-position: 0px 0px, center ;
    background-size: 50%, 30%;
    background-color: lightblue;
    background-repeat: no-repeat, no-repeat;
}

